@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Nunito";
  padding: 0 20px;
  background-color: #03071e;
  color: white;
}

#root {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 20px;
}

main {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

button {
  height: 35px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  letter-spacing: 1.2px;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.headerText {
  font-size: 40px;
  margin-bottom: 10px;
}

.menuContainer .menu {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 10px;
}

.menuContainer .menuLines {
  height: 3px;
  width: 25px;
  margin-top: 5px;
  background: white;
  border-radius: 20px;
}

.menuContainer .menuContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  right: 0;
  top: 50px;
}

.menuContainer .menuContent button {
  padding: 8px;
  width: 100%;
}

.menuContainer .menuContent .investBtn {
  color: black;
  background-color: transparent;
  border: 2px solid black;
}

.mainContainer {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

.btnContainer {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 10px;
}

.btnContainer .addBtn {
  background-color: #478f73;
}

.btnContainer .delBtn {
  background-color: #c9184a;
}

.btnContainer .submitBtn {
  background-color: #c9184a;
}

.btnContainer .cancelBtn {
  background-color: transparent;
  border: 2px solid #c9184a;
}

.styled-input {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #14213d;
  padding: 10px 20px 10px 20px;
  font-size: 1.5em;
}

.styled-input input {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 100%;
  color: white;
  font-size: 1.2em;
}

.listContainer {
  padding: 10px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

.listContainer .listHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listContainer .listHeader button {
  background-color: transparent;
  border: 2px solid white;
  padding: 5px 8px;
}

.listContainer .listItems {
  padding: 10px 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listContainer .expenseItems {
  background-color: #c9184a;
}

.listContainer .incomeItems {
  background-color: #478f73;
}

.dashboardContainer {
  padding: 0px 20px 20px 20px;
}

.dashboardContainer h1 {
  font-size: 40px;
}

.dashboardContainer .monthDash {
  background-color: #14213d;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.dashboardContainer .monthDash .monthDashGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-top: 10px;
}

.dashboardContainer .monthDash .monthDashGrid .bar {
  width: 2px;
  height: 30px;
  background-color: white;
}

.historyContainer {
  padding: 10px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

.historyContainer .listHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historyContainer .listHeader button {
  background-color: transparent;
  border: 2px solid white;
  padding: 5px 8px;
}

.historyContainer .listItems {
  padding: 10px 20px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 35% 25%;
      grid-template-columns: 40% 35% 25%;
  place-items: center;
}

.historyContainer .listItems button {
  font-size: 20px;
  background-color: transparent;
  padding: 5px 15px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.historyContainer .listItems h1 {
  -ms-grid-column-align: start;
      justify-self: start;
}

.historyContainer .expenseItems {
  background-color: #c9184a;
}

.historyContainer .incomeItems {
  background-color: #478f73;
}

.signinContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.signinContainer .signinHeader h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.signinContainer .signinHeader p {
  margin-bottom: 5px;
}

.signinContainer .signinHeader input {
  background-color: rgba(128, 128, 128, 0.404);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 9px 30px 8px 20px;
  margin-bottom: 10px;
  outline: none;
}

.signinContainer .signinHeader .warnimess {
  padding-top: 7px;
  text-align: center;
}

.signinContainer .signinBtn {
  margin-top: 10px;
  background-color: #0095f6;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  padding: 10px 50px;
  font-size: 14px;
}

.signinContainer .signup {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

.signinContainer .signup .linksign {
  color: #f6b400;
  text-decoration: none;
}

.signinContainer .forgetpass {
  margin-top: 10px;
  text-align: center;
}

.signinContainer .forgetpass * {
  text-decoration: none;
  color: white;
}

.signinContainer .googlecont .googlebtn {
  background-color: white;
  color: black;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signinContainer .googlecont .googleimg {
  padding: 1px 0;
}

.signinContainer .googlecont .loginwithg {
  padding-left: 10px;
}

.accountContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.accountContainer .btnContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-width: 200px;
}

.accountContainer button {
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}

.financeDashboard .tabs {
  padding: 10px 0;
}

.financeDashboard .tabs .tabsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.financeDashboard .tabs .tabsContainer label {
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  padding: 6px 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.financeDashboard .tabs .tabsContainer label:hover {
  background-color: #14213d;
}

.financeDashboard .tabs .tabsContainer input[type="radio"] {
  display: none;
}

.financeDashboard .tabs .tabsContainer input[type="radio"]:checked {
  display: none;
}

.coinContainer {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
}

.coinContainer .coin {
  background-color: #14213d;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.coinContainer .coin .coinHeader {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
  grid-gap: 10px;
  text-align: center;
}

.coinContainer .coin .coinHeader img {
  height: 60px;
  width: 60px;
}

.coinContainer .coin .coinBody {
  background-color: #eeeeee;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  place-items: center;
}

.coinContainer .coin .coinBody .coinPrice {
  color: black;
  text-align: center;
}

.coinContainer .coin .coinBody .coinPrice .negPrice {
  color: red;
}

.coinContainer .coin .coinBody .coinPrice .posPrice {
  color: green;
}

.coinContainer .coin .coinBody .coinDetails {
  height: 100%;
  width: 100%;
  background-color: #e7ab04;
  border-radius: 10px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.stocksMain .tabs {
  padding: 10px 0;
}

.stocksMain .tabs .tabsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.stocksMain .tabs .tabsContainer label {
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 25px;
  padding: 6px 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.stocksMain .tabs .tabsContainer label:hover {
  background-color: #14213d;
}

.stocksMain .tabs .tabsContainer input[type="radio"] {
  display: none;
}

.stocksMain .tabs .tabsContainer input[type="radio"]:checked {
  display: none;
}

.stocksMain .stocksContainer {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
}

.stocksMain .stocksContainer h1 {
  text-align: center;
}

.stocksMain .stocksContainer .stock {
  background-color: #eeeeee;
  border-radius: 12px;
}

.stocksMain .stocksContainer .stock .stockHeader {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #14213d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.stocksMain .stocksContainer .stock .stockHeader h1 {
  font-size: 22px;
}

.stocksMain .stocksContainer .stock .stockHeader p {
  color: #16ce16;
}

.stocksMain .stocksContainer .stock .details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
}

.stocksMain .stocksContainer .stock .details p {
  font-size: 17px;
  font-weight: 600;
}

.stocksMain .stocksContainer .stock .details .close {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 15px;
  background-color: #e7ab04;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.stocksMain .stocksContainer .stock .details .volume {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: black;
}

.newsContainer {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
}

.newsContainer a {
  text-decoration: none;
}

.newsContainer .news {
  background-color: #14213d;
  color: white;
  overflow: hidden;
  border-radius: 10px;
}

.newsContainer .news img {
  width: 100%;
  border-radius: 10px;
}

.newsContainer .news .textContainer {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

.newsContainer .news .textContainer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsContainer .news .textContainer .footer p {
  margin-right: 10px;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 10px;
  max-width: 200px;
  overflow: hidden;
}

.newsContainer .news .textContainer h1 {
  font-size: 25px;
}
