$color1: #0c61e0;
$color2: #03071e;
$color3: #14213d;
$color4: #c9184a;
$color5: #478f73;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Nunito";
  padding: 0 20px;
  background-color: $color2;
  color: rgb(255, 255, 255);
}
#root {
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 20px;
}
main {
  position: relative;
  display: grid;
  place-items: center;
  height: 100%;
}
a {
  text-decoration: none;
}
button {
  height: 35px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.headerText {
  font-size: 40px;
  margin-bottom: 10px;
}

.menuContainer {
  .menu {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .menuLines {
    height: 3px;
    width: 25px;
    margin-top: 5px;
    background: white;
    border-radius: 20px;
  }
  .menuContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    right: 0;
    top: 50px;
    button {
      padding: 8px;
      width: 100%;
    }
    .investBtn {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 5px;
      color: black;
      background-color: transparent;
      border: 2px solid black;
      p {
        text-decoration: none;
      }
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

.mainContainer {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

.btnContainer {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 10px;
  .addBtn {
    border: 2px solid $color5;
    background-color: transparent;
    &:hover {
      background-color: $color5;
    }
  }
  .delBtn {
    background-color: transparent;
    border: 2px solid $color4;
    &:hover {
      background-color: $color4;
    }
  }
  .submitBtn {
    background-color: transparent;
    border: 2px solid $color1;
    &:hover {
      background-color: $color1;
    }
  }
  .cancelBtn {
    background-color: transparent;
    border: 2px solid $color4;
    &:hover {
      background-color: $color4;
    }
  }
}

.styled-input {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: $color3;
  padding: 10px 20px 10px 20px;
  font-size: 1.5em;

  input {
    background-color: transparent;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 100%;
    color: white;
    font-size: 1.2em;
  }
}

.headerAccounts {
  h1 {
    font-size: 40px;
  }
  .editBtn {
    font-size: 25px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
  }
  .accountInput {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 40px;
    max-width: 220px;
  }
}

.listContainer {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  .listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: 2px solid white;
      padding: 5px 8px;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .listItems {
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .expenseItems {
    background-color: $color4;
  }
  .incomeItems {
    background-color: $color5;
  }
}

.dashboardContainer {
  padding: 0px 20px 20px 20px;
  h1 {
    font-size: 40px;
  }
  .monthDash {
    background-color: $color3;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;

    .monthDashGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      margin-top: 10px;

      .bar {
        width: 2px;
        height: 30px;
        background-color: white;
      }
    }
  }
}

.historyContainer {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  .listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    h1 {
      font-size: 40px;
    }
    button {
      background-color: transparent;
      border: 2px solid white;
      padding: 5px 8px;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .listItems {
    padding: 10px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 35% 25%;
    place-items: center;
    button {
      font-size: 20px;
      background-color: transparent;
      padding: 5px 15px;
      justify-self: end;
      &:hover {
        background-color: white;
        color: black;
      }
    }
    h1 {
      justify-self: start;
    }
  }
  .expenseItems {
    background-color: $color4;
  }
  .incomeItems {
    background-color: $color5;
  }
}

.signinContainer {
  display: grid;
  place-items: center;
  .signinHeader {
    h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 5px;
    }
    input {
      background-color: rgba(128, 128, 128, 0.404);
      color: white;
      border: none;
      border-radius: 3px;
      padding: 9px 30px 8px 20px;
      margin-bottom: 10px;
      outline: none;
    }
    .warnimess {
      padding-top: 7px;
      text-align: center;
    }
  }
  .signinBtn {
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 7px 50px;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid $color1;
    &:hover {
      background-color: $color1;
    }
  }
  .signup {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    .linksign {
      color: #f6b400;
      text-decoration: none;
    }
  }
  .forgetpass {
    margin-top: 10px;
    text-align: center;
    * {
      text-decoration: none;
      color: white;
    }
  }
  .googlecont {
    .googlebtn {
      background-color: white;
      color: black;
      margin-top: 20px;
      border-radius: 10px;
      border: none;
      padding: 20px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .googleimg {
      padding: 1px 0;
    }
    .loginwithg {
      padding-left: 10px;
    }
  }
}

.accountContainer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  .btnContainer {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 200px;
  }
  button {
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.finance {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 40px;
    }
    button {
      background-color: transparent;
      cursor: pointer;
      border: 2px solid white;
      padding: 6px 10px;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .learnContainer {
    padding: 20px 20px 30px 20px;
    display: grid;
    grid-gap: 10px;
    .bar {
      margin-top: 20px;
      width: 100%;
      height: 3px;
      background-color: white;
      border-radius: 20px;
    }
    h1 {
      font-size: 25px;
    }
    button {
      background-color: transparent;
      cursor: pointer;
      border: 2px solid white;
      padding: 6px 10px;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.financeDashboard {
  .tabs {
    padding: 10px 0;

    .tabsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      label {
        text-align: center;
        border-radius: 10px;
        font-size: 25px;
        padding: 6px 0;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #14213d;
        }
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked {
        display: none;
      }
    }
  }
}

.coinContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  .coin {
    background-color: #14213d;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    .coinHeader {
      padding: 15px;
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      grid-gap: 10px;
      text-align: center;
      img {
        height: 60px;
        width: 60px;
      }
    }
    .coinBody {
      background-color: #eeeeee;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 50% 50%;
      place-items: center;
      .coinPrice {
        color: black;
        text-align: center;
        .negPrice {
          color: red;
        }
        .posPrice {
          color: green;
        }
      }
      .coinDetails {
        height: 100%;
        width: 100%;
        background-color: #e7ab04;
        border-radius: 10px;
        padding: 10px;
        display: grid;
        place-items: center;
      }
    }
  }
}

.stocksMain {
  .tabs {
    padding: 10px 0;

    .tabsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      label {
        text-align: center;
        border-radius: 10px;
        border: 2px solid white;
        font-size: 25px;
        padding: 6px 0;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #14213d;
        }
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked {
        display: none;
      }
    }
  }
  .stocksContainer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    h1 {
      text-align: center;
    }
    .stock {
      background-color: #eeeeee;
      border-radius: 12px;
      .stockHeader {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #14213d;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        h1 {
          font-size: 22px;
        }
        p {
          color: rgb(22, 206, 22);
        }
      }
      .details {
        display: grid;
        grid-template-columns: 60% 1fr;
        p {
          font-size: 18px;
          font-weight: 600;
        }
        .close {
          display: grid;
          grid-template-columns: 1fr 1fr;
          place-items: center;
          padding: 10px;
          background-color: #e7ab04;
          border-radius: 10px;
          border-top-left-radius: 0px;
        }
        .volume {
          padding: 10px;
          display: grid;
          place-items: center;
          color: black;
        }
      }
    }
  }
}

.newsContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  a {
    text-decoration: none;
  }
  .news {
    background-color: #14213d;
    color: white;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      border-radius: 10px;
    }
    .textContainer {
      padding: 15px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      .footer {
        display: flex;
        align-items: center;
        p {
          margin-right: 10px;
          border: 2px solid white;
          padding: 5px 10px;
          border-radius: 10px;
          max-width: 200px;
          overflow: hidden;
        }
      }
      h1 {
        font-size: 25px;
      }
    }
  }
}

.learn {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 40px;
    }
    button {
      background-color: transparent;
      cursor: pointer;
      border: 2px solid white;
      padding: 6px 10px;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .learnComponents {
    margin-top: 10px;
    display: grid;
    grid-gap: 15px;
    padding-bottom: 10px;
    .components {
      background-color: #eeeeee;
      border-radius: 11px;
      .headerComp {
        color: black;
        padding: 10px 15px;
        h1 {
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
      .prosCons {
        background-color: #14213d;
        border-radius: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        h3 {
          margin-bottom: 5px;
        }
        .grid {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-gap: 10px;
          .pros {
            color: #478f73;
          }
          .cons {
            color: #c9184a;
          }
        }
      }
    }
  }
}

.finwall {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .logofin {
    border-radius: 10px;
    padding: 20px 40px;
    .fincont {
      display: flex;
      justify-content: center;
    }
    .finimg {
      width: 200px;
      height: 200px;
      border-radius: 58%;
      background: url("/src/logo.png") no-repeat;
      background-size: contain;
      animation: finwal 4s 1 normal;
      box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.979);
      border: 2px solid white;
    }
    .fintxt {
      color: white;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 60px;
      font-weight: 900;
      text-align: center;
      margin-top: 20px;
      text-shadow: rgb(230, 9, 101) 2px 5px 10px;
    }
    @keyframes finwal {
      0% {
        width: 125px;
        height: 125px;
        transform: rotate(0deg);
      }
      100% {
        width: 200px;
        transform: rotate(360deg);
      }
    }
  }
}
