$color1: #eae2b7;
$color2: #03071e;
$color3: #14213d;
$color4: #c9184a;
$color5: #478f73;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Nunito";
  padding: 20px;
  background-color: $color2;
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 20px;
}
main {
  position: relative;
  display: grid;
  place-items: center;
  height: 100%;
}

button {
  height: 35px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  letter-spacing: 1.2px;
  font-size: 15px;
  cursor: pointer;
  color: white;
}
.headerText {
  font-size: 40px;
  margin-bottom: 10px;
}
.menuContainer {
  .menu {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .menuLines {
    height: 3px;
    width: 25px;
    margin-top: 5px;
    background: white;
    border-radius: 20px;
  }
  .menuContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    right: 0;
    top: 50px;
    button {
      padding: 8px;
      width: 100%;
    }
    .investBtn {
      color: black;
      background-color: transparent;
      border: 2px solid black;
    }
  }
}

.mainContainer {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.btnContainer {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 10px;
  .addBtn {
    background-color: $color5;
  }
  .delBtn {
    background-color: $color4;
  }
  .submitBtn {
    background-color: $color4;
  }
  .cancelBtn {
    background-color: transparent;
    border: 2px solid $color4;
  }
}

.styled-input {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #1a183b;
  padding: 10px 20px 10px 20px;
  font-size: 1.5em;

  input {
    background-color: transparent;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 100%;
    color: white;
    font-size: 1.2em;
  }
}
.listContainer {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  .listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: 2px solid white;
      padding: 5px 8px;
    }
  }
  .listItems {
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .expenseItems {
    background-color: $color4;
  }
  .incomeItems {
    background-color: $color5;
  }
}

.dashboardContainer {
  padding: 0px 20px 20px 20px;
  h1 {
    font-size: 40px;
  }
  .monthDash {
    background-color: $color3;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;

    .monthDashGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      margin-top: 10px;

      .bar {
        width: 2px;
        height: 30px;
        background-color: white;
      }
    }
  }
}

.historyContainer {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  .listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: 2px solid white;
      padding: 5px 8px;
    }
  }
  .listItems {
    padding: 10px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 35% 25%;
    place-items: center;
    button {
      background-color: transparent;
      border: 2px solid white;
      padding: 5px 8px;
      justify-self: end;
    }
    h1 {
      justify-self: start;
    }
  }
  .expenseItems {
    background-color: $color4;
  }
  .incomeItems {
    background-color: $color5;
  }
}

.signinContainer {
  display: grid;
  place-items: center;
  .signinHeader {
    h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 5px;
    }
    input {
      background-color: rgba(128, 128, 128, 0.404);
      color: white;
      border: none;
      border-radius: 3px;
      padding: 9px 30px 8px 20px;
      margin-bottom: 10px;
      outline: none;
    }
    .warnimess {
      padding-top: 7px;
      text-align: center;
    }
  }
  .signinBtn {
    margin-top: 10px;
    background-color: #0095f6;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 10px 50px;
    font-size: 14px;
  }
  .signup {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    .linksign {
      color: #f6b400;
      text-decoration: none;
    }
  }
  .forgetpass {
    margin-top: 10px;
    text-align: center;
    * {
      text-decoration: none;
      color: white;
    }
  }
  .googlecont {
    .googlebtn {
      background-color: white;
      color: black;
      margin-top: 20px;
      border-radius: 10px;
      border: none;
      padding: 20px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .googleimg {
      padding: 1px 0;
    }
    .loginwithg {
      padding-left: 10px;
    }
  }
}

.accountContainer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  .btnContainer {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 200px;
  }
  button {
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.crypto {
  h1 {
    font-size: 30px;
  }
  .coinContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    .coin {
      background-color: #14213d;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 40% 60%;
      .coinHeader {
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        grid-gap: 10px;
        text-align: center;
        img {
          height: 60px;
          width: 60px;
        }
      }
      .coinBody {
        background-color: #eeeeee;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
        .coinPrice {
          color: black;
          text-align: center;
          .negPrice {
            color: red;
          }
          .posPrice {
            color: green;
          }
        }
        .coinDetails {
          height: 100%;
          width: 100%;
          background-color: #f6b400;
          border-radius: 10px;
          padding: 10px;
          display: grid;
          place-items: center;
        }
      }
    }
  }
}
